*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: inter;
    background-color: white;
}

.navbar-left{
    background-color: #191718;
    height: 625px;
    width: 400px;
}

ul{
    display: flex;
    padding: 0 40px;
    list-style: none;
    padding-left: 2px;
}

ul li{
    padding-top: 25px;
}

ul li a{
    padding-left: -50px;
    text-decoration: none;
    color: white;
    padding: 35px;
}

/* ul li a:hover{
    font-weight: bold;
} */

.circle{
    position: absolute;
    background-color: #de3a2d;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: -450px;
    margin-left: 250px;
    box-shadow: 3px 3px 60px 10px #de3a2d;
}

.shoe1{
    position: relative;
    width: 360px;
    height: 320px;
    margin-top: -20px;
    margin-left: -20px;
    transform: rotate(20deg);
    animation-name: shoe1;
    animation-duration: 0000.5s;
}

@keyframes shoe1 {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(20deg);
    }
}

.mendrop{
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-left: -25px;
    display: inherit;
    cursor: pointer;
}

.heading{
    margin-top: 60px;
    margin-left: -30px;
    color: white;
    cursor: pointer;
}
.heading2{
    margin-top: 90px;
    margin-left: -50px;
    color: white;
    cursor: pointer;
}
.heading3{
    margin-top: 120px;
    margin-left: -50px;
    color: white;
    cursor: pointer;
}

.active1{
    display: none;
}
.active2{
    display: none;
}
.active3{
    display: none;
}

.womendrop{
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-left: -25px;
    cursor: pointer;
    display: inherit;
}
.active4{
    display: none;
}
.active5{
    display: none;
}
.active6{
    display: none;
}

.kiddrop{
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-left: -25px;
    cursor: pointer;
    display: inherit;
}
.active7{
    display: none;
}
.active8{
    display: none;
}
.active9{
    display: none;
}


/* Right Side */

.navbar-right{
    margin-top: -600px;
    display: flex;
    justify-content: right;
}

.logo{
    padding: 0 40px;
    width: 90px;
    cursor: pointer;
    /* background-color: black; */
}

.shop{
    cursor: pointer;
    width: 50px;
    margin-right: 50px;
    /* background-color: yellowgreen; */
}

.search{
    margin-right: 50px;
    width: 50px;
    cursor: pointer;
    /* background-color: purple; */
}

.searchbar{
    padding: 0px 8px;
    border: 1px solid black;
    border-radius: 15px;
    display: inherit;
}

.active{
    display: none;
    transition: all 2s;
}

.text{
    margin-top: 100px;
}

.first{
    font-weight: bolder;
    font-size: 4rem;
}

.second{
    font-weight: bolder;
    font-size: 4rem;
}

.third{
    font-weight: 200;
    font-size: 2.3rem;
}

.text span{
    color: black;
    margin-left: 700px;
}

.next{
    margin-left: 700px;
    margin-top: 50px;
}

.shoe2{
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.shoe2:hover{
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
}

.shoe3{
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.shoe3:hover{
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
}

.shoe4{
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.shoe4:hover:hover{
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
}

.arrow1{
    width: 50px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    cursor: pointer;
}

.arrow2{
    width: 50px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    cursor: pointer;
}

.btn{
    background-color: #191718;
    color: white;
    border-style: none;
    margin-left: 130px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 3px 3px 60px 10px #de3a2d;
    background-color: #de3a2d;
    transition: 0.2s;
}
